<html lang="en">
<body>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'fightstore/style.css' %}">

{% if something %}
  <ul>
  {% for thing in something %}
    <li>{{ thing.detail }}</li>
  {% endfor %}
  </ul>
{% else %}
  <p>I got nothing.</p>
{% endif %}

</body>
</html>
